body {
font-family: 'Lexend Peta', sans-serif;;
margin: 0px;
}

.container{
display:grid;
grid-template-columns: 1fr;
}

.placeholder {
background-color: lightseagreen;
}

.navWrapper {
display: flex;
justify-content: space-between;
padding: 38px;
}

.navleft {
display: flex;
}

.navWrapper > .navleft > div {
margin-right: 20px;
font-size: 0.9em;
text-transform: uppercase;
}

.linkwrapper {
height: 22px;
border-bottom: 1px solid transparent;
transition: border-bottom 0.5s;
}

.linkwrapper a {
color: #8a8a8a;
text-decoration: none;
transition-color: 0.5s;
}

.linkwrapper:hover {
border-bottom: 1px solid black;
}


.linkwrapper a:hover {
color: black;
}

.activenavlink{
border-bottom: 1px solid black;
}

.activenavlink a{
color: black;
}


/* Portfolio styles */
.portfolioitemswrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.portfolioitemwrapper {
position: relative;

}

.portfolioimgbackground{
height: 350px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.imgtxtwrap {
position: absolute;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding-left: 100px;
padding-right: 100px;
}

.logowrapper img {
width: 50%;
margin-bottom: 20px;
}

.imgtxtwrap .subtitle {
transition: 1s;
font-weight: 600;
color: transparent;
}

.imgtxtwrap:hover .subtitle {
font-weight: 600;
color: lightseagreen;
}

.imgdarken{
transition: 1s;
filter: brightness(10%);
}

.twocolwrapper{
display: grid;
grid-template-columns: 1fr 1fr;
}

.profileimgwrap img{
width: 100%;
}

.profiletxtwrap {
padding: 30px;
}

.profiletxtwrap h1{
color:lightseagreen;}